<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="fragments/header :: modelheader"></div>
        <div class="container">       
        <div style="background-color: silver; height: 100px; border-radius: 15px; text-align: center;  margin-bottom: 10px">
            <h3 style="font-family: cursive; padding-top: 30px">Conheça nossos novos produtos!</h3>
        </div>
            <div style="width: 33%; float: left">
                <img src="../imagens/xiaomi-redmi-note-9s.png" width="400px"> 
                <p style="text-align: center; padding-bottom: 80px; margin: 20px">Redmi Note 9s</p>
            </div>
            <div style="width: 33%; float: left">
                <img src="../imagens/acer-aspire.png" width="400px"> 
                <p style="text-align: center; padding-bottom: 80px; margin: 20px">NotebooAcer Aspire</p>
            </div>
            <div style="width: 33%; float: left">
                <img src="https://images.tcdn.com.br/img/img_prod/937208/poco_x3_nfc_128gb_6gb_ram_6_67_dual_chip_global_xiaomi_83_2_0029e8e6d3ac56752bee7b3824643f9f.png" width="300px" style="margin-top: 40px; margin-left: 60px"> 
                <p style="text-align: center; padding-bottom: 80px; margin: 20px; margin-top: 80px">Poco X3 Pro</p>
            </div>
        </div>
        <div th:insert="fragments/footer :: modelfooter" style="margin-top: 37%"></div> 
    </body>
</html>
